<div class="materiel__container">
    <h3>Liste des réservations</h3>
    <!-- We use <table> to display our data because it's a better practice in terms of accessibility (built-in support for screen readers) -->
    {% if not reservation_list %}
        <p>Aucune réservation trouvée</p>
    {% else %}
        <table>
            <thead>
                <tr>

                    <!-- date_debut, date_fin, sortie, date_restitution, retour_complet, archive -->
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Sortie</th>
                    <th>Date de Restitution</th>
                    <th>Retour complet</th>
                    <th>Etat</th>
                    <th>Modifier ?</th>
                    <!-- <th>Supprimer ?</th> -->
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservation_list %}
                    <tr style="background-color: lightgrey;">
                        <td>{{ reservation.date_debut }}</td>
                        <td>{{ reservation.date_fin }}</td>
                        <td>{{ reservation.sortie }}</td>
                        <td>{{ reservation.date_restitution }}</td>
                        <td>{{ reservation.retour_complet }}</td>
                        <td>{{ reservation.archive }}</td>
                        <td>
                            <a href="{{ url_for('admin.admin_managereservation', id_reservation=reservation.id_reservation) }}">
                                Modifier {{ reservation.id_reservation }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<script>
    // DOM Elements
    // const deleteButtons = document.querySelector(".deleteReservation");

    // // To do when clicking on a delete button
    // function deleteHandler(event) {
    //     if (!confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?')) {
    //         event.preventDefault();
    //     }
    // }

    // deleteButtons.forEach(button => {button.addEventListener("submit", deleteHandler)});
</script>