<div class="materiel__container">
    <h3>{{ materiel.modele }}</h3>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Modèle</th>
                <th>Description</th>
                <th>Image</th>
                <th>Remarque</th>
                <th>État</th>
                <th>Archiver ?</th>
                <th>Supprimer ?</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: lightgrey; color:black;">
                <td>
                {% if materiel.type == "boitier" %}
                    Boîtier
                {% elif materiel.type == "optique" %}
                    Optique
                {% elif materiel.type == "accessoirestockage" %}
                    Accessoire / Stockage
                {% elif materiel.type == "machinerie" %}
                    Machinerie
                {% elif materiel.type == "enregistreur" %}
                    Enregistreur
                {% elif materiel.type == "micro" %}
                    Micro
                {% elif materiel.type == "son_accessoire" %}
                    Accessoire (Son)
                {% elif materiel.type == "lumiere" %}
                    Lumière
                {% elif materiel.type == "lumiere_accessoire" %}
                    Accessoire (Lumière)
                {% elif materiel.type == "fond" %}
                    Fond
                {% elif materiel.type == "gelatine" %}
                    Gélatine
                {% elif materiel.type == "cable" %}
                    Câble
                {% elif materiel.type == "chargeurbatterie" %}
                    Chargeur / Batterie
                {% elif materiel.type == "consommable" %}
                    Consommable
                {% elif materiel.type == "regie_accessoire" %}
                    Accesoire (Régie)
                {% else %}
                    /!\ {{ materiel.type }}
                {% endif %}
                </td>
                <td>{{ materiel.modele }}</td>
                <td>{{ materiel.description }}</td>
                <td>
                    {% if materiel.image %}
                        <img style="max-width: 150px;" src="{{ materiel.image }}">
                    {% else %}
                        pas d'image...
                    {% endif %}
                </td>
                <td>{{ materiel.remarque }}</td>
                <td>
                    Archivé ?
                </td>
                <td>
                    <form method="POST" class="archiveMateriel" action="{{ url_for('admin.admin_manageMateriel') }}archiveMateriel">
                        <input type="hidden" name="id_materiel" value="{{ materiel.id_materiel }}">
                        <input type="submit" name="archiveMateriel" value="Archiver" onclick="return confirm('Êtes-vous sûr de vouloir archiver le matériel &quot;{{materiel.modele}}&quot; ?')"/>
                    </form>
                </td>
                <td>
                    <form method="POST" class="deleteMateriel" action="{{ url_for('admin.admin_manageMateriel') }}deleteMateriel">
                        <input type="hidden" name="id_materiel" value="{{ materiel.id_materiel }}">
                        <input type="submit" name="deleteMateriel" value="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer le matériel &quot;{{materiel.modele}}&quot; ?')"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    // DOM Elements
    const deleteButtons = document.querySelector(".deleteMateriel");

    // To do when clicking on a delete button
    function deleteHandler(event) {
        if (!confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?')) {
            event.preventDefault();
        }
    }

    deleteButtons.forEach(button => {button.addEventListener("submit", deleteHandler)});
</script>