<div class="updateMateriel__container">
    <h3>Mettre à jour "{{ materiel.modele }}"</h3>
    <!-- We use <table> to display our data because it's a better practice in terms of accessibility (built-in support for screen readers) -->
    <form method="POST" action="{{ url_for('admin.admin_manageMateriel') }}updateMateriel">
        <fieldset>
            <legend>Mettre à jour "{{ materiel.modele }}"</legend>
            <div>
                <label for="type">Type : </label>
                <select id="type" name="type" required>
                    <optgroup label="Image">
                        <option value="boitiers" {% if materiel.type == 'boitiers' %}selected{% endif %}>Boîtiers</option>
                        <option value="optiques" {% if materiel.type == 'optiques' %}selected{% endif %}>Optiques</option>
                        <option value="accessoiresstockage" {% if materiel.type == 'accessoiresstockage' %}selected{% endif %}>Accessoires / Stockage</option>
                    </optgroup>
                    <optgroup label="Son">
                        <option value="enregistreurs" {% if materiel.type == 'enregistreurs' %}selected{% endif %}>Enregistreurs</option>
                        <option value="micros" {% if materiel.type == 'micros' %}selected{% endif %}>Micros</option>
                        <option value="son_accessoires" {% if materiel.type == 'son_accessoires' %}selected{% endif %}>Accessoires</option>
                    </optgroup>
                    <optgroup label="Lumière">
                        <option value="lumieres" {% if materiel.type == 'lumieres' %}selected{% endif %}>Lumières</option>
                        <option value="lumiere_accessoire" {% if materiel.type == 'lumiere_accessoire' %}selected{% endif %}>Accessoires</option>
                        <option value="fonds" {% if materiel.type == 'fonds' %}selected{% endif %}>Fonds</option>
                    </optgroup>
                    <optgroup label="Connectiques & Batteries">
                        <option value="cables" {% if materiel.type == 'cables' %}selected{% endif %}>Câbles</option>
                        <option value="chargeursbatteries" {% if materiel.type == 'chargeursbatteries' %}selected{% endif %}>Chargeurs / Batteries</option>
                    </optgroup>
                </select>
                <label for="modele">Modèle : </label>
                <input type="text" name="modele" id="modele" placeholder="GoPro de la mort qui tue" value="{{ materiel.modele }}" required/>
            </div>
            <div>
                <label for="description">Description : </label>
                <textarea name="description" id="description" rows="1" cols="50" placeholder="Focale trop cool" >{{ materiel.description }}</textarea>
            </div>
            <div>
                <label for="image">URL de l'image : </label><input type="text" name="image" id="image" placeholder="https://www.europe-nature-optik.fr/884-tm_thickbox_default/kite-trepied-ardea-cf-avec-rotule-manfrotto-128rc.jpg" value="{% if materiel.image %}{{ materiel.image }}{% else %}{% endif %}" />
                <label for="remarque">Remarque : </label><input type="text" name="remarque" id="remarque" placeholder="Support non-inclus" value="{{ materiel.remarque }}" />
            </div>
            <input type="hidden" name="id_materiel" value="{{ materiel.id_materiel }}">
            <div>
                <input type="submit" value="Mettre à jour"/>
            </div>
        </fieldset>
    </form>
</div>