{% extends "./base.html" %}
{% block content %}
	<h1>Bienvenue sur le site de réservation du matériel de 803z</h2>
	<p class="home_p">L'association 803Z, fondée en 2010, est un groupe de passionnés de robotique et de programmation. Basée à Champs-sur-Marne, elle a pour objectif de promouvoir l'apprentissage des sciences et des technologies auprès des jeunes. L'association organise des ateliers, des formations et des événements pour initier les enfants aux techniques de programmation et de construction de robots. Elle participe également à des compétitions régionales et nationales pour mettre en pratique les compétences acquises et stimuler l'innovation. Grâce à l'engagement de ses membres et à leur expertise, l'association 803Z est aujourd'hui reconnue comme un acteur majeur de la promotion de la culture scientifique et technique dans la région de Champs-sur-Marne.</p>
	
	<h2>Ou récupérer le matériel ?</h2>
	<p class ="home_p">Rendez vous à la maison de l'étudiant à l'Université Gustave Eiffel où vous trouverez notre local !! </p>
	<p class="address">->>>>>> Maison de l'Étudiant, 1 Rue des Frères Lumière, 77420 Champs-sur-Marne</p>
{% endblock %}