{% extends "./base.html" %}
{% block content %}

	<h1>Bienvenue sur le site de réservation du matériel de 803z</h2>
	<p class="home_p">803Z est une association du campus de l’Université Gustave Eiffel, affiliée aussi à l’ESIPE - et demain à l’ESIEE - existant sur le campus depuis plus de 10 ans. A l’origine tournée vers l’audiovisuel, elle est aujourd’hui une association d’art ayant pour but premier de promouvoir la pratique artistique sous toutes ses formes, et à toutes et tous, et ce par l’organisation d’événements créatifs de type marathon, d’ateliers, de “masterclasses”, de projets collectifs, de sorties photos, de partages de créations sur les réseaux sociaux, de prêt de matériel audiovisuel et graphique…</p>

	<h2>Ou récupérer le matériel ?</h2>
	<p class ="home_p">Rendez vous à la maison de l'étudiant à l'Université Gustave Eiffel où vous trouverez notre local !! </p>
	<p class="address">->>>>>> Maison de l'Étudiant, 1 Rue des Frères Lumière, 77420 Champs-sur-Marne</p>

{% endblock %}