{% extends "./base.html" %}
{% block content %}
    <main>
        <div class="materiel_admin_page">
        <h2>Connexion</h2>
            <div class="admin_login_container">
                <input id="username" type="text" placeholder="username" max="50"></input>
                <input id="passwd" type="text" placeholder="password" max="50"></input>
                <button id="connection">Connexion</button>
            </div>
        </div>
    </main>
    <div>
        <p id="logs"></p>
    </div>

    <script>
        "use strict";
        
        // DOM elements
        let inputUsername = document.querySelector('#username');
        let inputPasswd = document.querySelector('#passwd');
        let buttonConnect = document.querySelector('#connection');
        let textLogs = document.querySelector('#logs');

        // Connect function
        async function connect() {
            const username = inputUsername.value;
            const passwd = inputPasswd.value;
            // Call tryconnection, to check if the username/passwd are valid
            const response = await fetch("/admin/tryconnection/", {
                method: 'POST',
                headers: {'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'username':username, 'passwd':passwd})
            });
            const data = await response.json();
            // If its valid, redirect to /admin
            if(data.value == 1) {
                window.location.href = "/admin";
            } else {
                textLogs.textContent = data.error
            }
        }

        // Listeners
        connection.addEventListener('click', connect);
    </script>
{% endblock %}