{% extends "./base.html" %}
{% block content %}
    <h2>Réservation</h2>
    <div class="reservation_page">
        <div class="materiel">
            {% include "./pages/reservation/materiel.html" %}
        </div>
        <div class="dates">
            {% include "./pages/reservation/dates.html" %}
        </div>
        <div class="contacts">
            {% include "./pages/reservation/contacts.html" %}
        </div>
        <div class="projet">
            {% include "./pages/reservation/projet.html" %}
        </div>

        <div class="reserv_div hidden">
            <p>Faire une réservation de matériel</p>
            <button id="lancer_reservation">Lancer la réservation</button>
        </div>
    </div>

    <script>
        // DOM Elements
        const reservDiv = document.querySelector(".reserv__div");
        const reservButton = document.querySelector("#lancer_reservation");
        const errorText = document.querySelector(".reserv__error");

        // To do when clicking on the reservation button
        async function reservButtonHandler() {
            materiel = getAllMateriel();
            dates = getDates();
            contacts = getAllContacts();
            projet = getProjet();
            reservationData = {
                "materiel": materiel,
                "dates": dates,
                "contacts": contacts,
                "projet": projet
            }

            console.log(reservationData);

            // Give the reservation data to the back
            const response = await fetch("/reservation/makereservation", {
                method: 'POST',
                headers: {'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(reservationData)
            });
            const data = await response.json();

            console.log(data);

            if(data.error) updateErrorMessage(data.error);
            else if(data.message) updateErrorMessage(data.message);
            else updateErrorMessage("");
        }

        function updateErrorMessage(error) {
            errorText.textContent = error;
        }

        // Listeners
        reservButton.addEventListener("click", reservButtonHandler);
    </script>
{% endblock %}