{% extends "./base.html" %}
{% block content %}
    <h2>Réservation</h2>
    <div class="materiel">
        {% include "./pages/reservation/materiel.html" %}
    </div>

    <div class="materiel">

    </div>

    <script>
        // DOM Elements
        const reservCheckbox = document.querySelectorAll(".reserv_checkbox");
        const reservDiv = document.querySelector(".reserv_div");
        const reservButton = document.querySelector("#lancer_reservation");
        
        // To do when clicking on a checkbox
        function checkboxHandler() {
            // If at least one checkbox is checked, display the reservDiv containing the reservation button
            isChecked = (Array.from(reservCheckbox)).some(checkbox => {
                return checkbox.checked;
            });

            if(isChecked) reservDiv.classList.remove("hidden");
            else reservDiv.classList.add("hidden");
        }

        // To do when clicking on the reservation button
        function reservButtonHandler() {
            // Get the database id of the materiel reserved
            materielIds = (Array.from(reservCheckbox)).map(checkbox => checkbox.id);

            // Call a flask route to 
        }

        // Listeners
        reservCheckbox.forEach(checkbox => {checkbox.addEventListener("click", checkboxHandler)});
    </script>
{% endblock %}