<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Administration</title>
</head>
<body>
    <main>
        <h1>Connexion</h1>
        <input id='username' type='text' placeholder='username' max='50'></input>
        <input id='passwd' type='text' placeholder='password' max='50'></input>
        <button id="connection">Connexion</button>
    </main>

    <script>
        "use strict";
        
        // DOM elements
        let inputUsername = document.querySelector('#username');
        let inputPasswd = document.querySelector('#passwd');
        let buttonConnect = document.querySelector('#connection');

        async function connect() {
            console.log("inside connect")
            const username = inputUsername.value;
            const passwd = inputPasswd.value;
            if(username && passwd) {
                const response = await fetch("/admin/tryconnection", {
                    method: 'POST',
                    headers: {'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({'username':username, 'passwd':passwd})
                });
                const data = await response.json();
                console.log(data);
            } else {
                console.log("Il faut renseigner des valeurs...");
            }
            
        }

        connection.addEventListener('click', connect);
    </script>
</body>
</html>