<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matériel</title>
</head>
<body>
    <a href="../">retour à l'accueil</a>
    <h1>Liste du matériel</h1>
    <!-- We use <table> to display our data because it's a better practice in terms of accessibility (built-in support for screen readers) -->
    {% if not materiel_list %}
        <p>Aucun matériel trouvé.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Modele</th>
                    <th>Description</th>
                    <th>Quantite</th>
                    <th>Image</th>
                    <th>Remarque</th>
                    <!-- <th>Emprunté jusqu'au...</th> -->
                </tr>
            </thead>
            <tbody>
                {% for materiel in materiel_list %}
                    <tr>
                        <td>{{ materiel.type }}</td>
                        <td>{{ materiel.modele }}</td>
                        <td>{{ materiel.description }}</td>
                        <td>{{ materiel.quantite }}</td>
                        <td>
                            {% if materiel.image %}
                                <img src="{{ materiel.image }}">
                            {% else %}
                                pas d'image...
                            {% endif %}
                        </td>
                        <td>{{ materiel.remarque }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

</body>
</html> 
<!-- id, type, modele, description, quantite, image, remarque -->