<div class="addMateriel__container">
    <h3>Ajouter un matériel</h3>
    <!-- We use <table> to display our data because it's a better practice in terms of accessibility (built-in support for screen readers) -->
    <form method="POST" action="{{ url_for('admin.admin_manageMateriel') }}addMateriel">
        <fieldset>
            <legend>Ajouter un matériel</legend>
            <div>
                <label for="type">Type : </label>
                <select id="type" name="type" required>
                    <optgroup label="Image">
                        <option value="boitier">Boîtier</option>
                        <option value="optique">Optique</option>
                        <option value="accessoirestockage">Accessoire / Stockage</option>
                        <option value="machinerie">Machinerie</option>
                    </optgroup>
                    <optgroup label="Son">
                        <option value="enregistreur">Enregistreur</option>
                        <option value="micro">Micro</option>
                        <option value="son_accessoire">Accessoire</option>
                    </optgroup>
                    <optgroup label="Lumière">
                        <option value="lumiere">Lumière</option>
                        <option value="lumiere_accessoire">Accessoire</option>
                        <option value="fond">Fond</option>
                        <option value="gelatine">Gélatine</option>
                    </optgroup>
                    <optgroup label="Connectiques & Batteries">
                        <option value="cable">Câble</option>
                        <option value="chargeurbatterie">Chargeur / Batterie</option>
                    </optgroup>
                    <optgroup label="Régie">
                        <option value="consommable">Consommable</option>
                        <option value="regie_accessoire">Accessoire</option>
                    </optgroup>
                </select>
                <label for="modele">Modèle : </label>
                <input type="text" name="modele" id="modele" placeholder="GoPro de la mort qui tue" required/>
            </div>
            <div>
                <label for="description">Description : </label>
                <textarea name="description" id="description" rows="1" cols="50" placeholder="Focale trop cool" ></textarea>
            </div>
            <div>
                <label for="image">URL de l'image : </label><input type="text" name="image" id="image" placeholder="https://www.europe-nature-optik.fr/884-tm_thickbox_default/kite-trepied-ardea-cf-avec-rotule-manfrotto-128rc.jpg" />
                <label for="remarque">Remarque : </label><input type="text" name="remarque" id="remarque" placeholder="Support non-inclus" />
            </div>
            <div>
                <input type="submit" value="Envoyer"/>
            </div>
        </fieldset>
    </form>
</div>